<div class="container">
	<div class="col-md-8">
		<table class="table">
		 	<tr>
		 		<td>Workout</td>
		 		<td>Comment</td>
		 		<td>User</td>
		 		<td>Delete</td>
		 	</tr>
		 	<% @comments.each do |comment| %>
		 	<tr>
		 		<td><%= comment.workout.title %></td>
		 		<td><%= comment.body %></td>
		 		<td><%= comment.user.id %></td>
				<td><%= link_to 'Destroy Comment', comment, method: :delete%></td>
		 	</tr>
		 	<% end %>
		</table>
	</div>
</div>
