<h1>Comments#show</h1>
<p>Find me in app/views/comments/show.html.erb</p>

<div>
	<p>Response To: </p>
	<p><%= @comment.workout.title %></p>
	<p>Body</p>
	<p><%= @comment.body %></p>
	<p>User</p>
	<p><%= @comment.user.name %></p>
</div>