<style type="text/css">
.makeWhite > a {
	color: white;
}
</style>

<h1>Fellow Trainers</h1>

<table class="table">
 	<tr>
 		<td>Email</td>
 		<td>UserName</td>
 		<td>Following</td>
 	</tr>
 	
 	<% @users.each do |user| %>
 	<tr>
 		<td><%= link_to user.email, user_path(user.id) %></td>
 		<td><%= user.username %></td>
 		<td>
 	 <% if current_user.following?(user)%>
 	 <button type="button" class="btn btn-danger btn-sm makeWhite">
 	 <%= link_to "Unfollow", unfollow_user_path(user) %>	 	
 	 </button >
 	<% else %>
 	 <button type="button" class="btn btn-success btn-sm makeWhite">
 	 	<%= link_to "Follow", follow_user_path(user) %>
 	 </button>
 	 <% end %>
 	</td>
 	</tr>
 	<% end %>
</table>