<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<table class="table">
 	<tr>
 		<td>Email</td>
 		<td>UserName</td>
 		<td>Following</td>
 		<td>User</td>
 		<td>Delete</td>
 		<td>Likes</td>
 	</tr>
 	
 	<% @users.each do |user| %>
 	<tr>
 		<td><%= user.email %></td>
 		<td><%= user.username %></td>
 		<td>
 	 <% if current_user.following?(user)%>
 	 <button type="button" class="btn btn-danger btn-sm">
 	 <%= link_to "Unfollow", unfollow_user_path(user) %>	 	
 	 </button >
 	<% else %>
 	 <button type="button" class="btn btn-success btn-sm">
 	 	<%= link_to "Follow", follow_user_path(user) %>
 	 </button>
 	 <% end %>
 	</td>
 	</tr>
 	<% end %>
</table>