<style type="text/css">
body {
	color: black;
}
.makeWhite > a {
	color: white;
}

.well {
	margin-bottom: 100px !important;
	margin-left: 20px !important;
	margin-right: 20px !important;
}
h1 {
	margin-left: 30px;
	color:white;
}

.change2Red {
	color: #A65353;
}

.editRed {
	background-color: #A65353;
}
.editGreen {
	background-color: #428542;
}
</style>

<h1>Fellow Trainers</h1>

<div class = "well">
<table class="table">
 	<tr>
 		<td>Email</td>
 		<td>UserName</td>
 		<td>Following</td>
 	</tr>
 	
 	<% @users.each do |user| %>
 	<tr>
 		<td><%= link_to user.email, user_path(user.id), class: "change2Red"%></td>
 		<td><%= user.username %></td>
 		<td>
 	 <% if current_user.following?(user)%>
 	 <button type="button" class="btn btn-danger btn-sm makeWhite editRed">
 	 <%= link_to "Unfollow", unfollow_user_path(user) %>	 	
 	 </button >
 	<% else %>
 	 <button type="button" class="btn btn-success btn-sm makeWhite editGreen">
 	 	<%= link_to "Follow", follow_user_path(user) %>
 	 </button>
 	 <% end %>
 	</td>
 	</tr>
 	<% end %>
</table>
</div>