<style type="text/css">
footer {
position: relative;
width: 250px;
border-top: 1px solid white;
margin: 0 auto;
text-align: center;
color: white;
font-weight: bold;
font-size: 7.5pt;
padding-bottom: 4px;
}

.jumbotron {
	background-color: rgba(238, 238, 238, 0.7);
}

.jumbotron > h1 {
	font-weight: bold;
}
</style>
<div class="container">
<div class="jumbotron">
  <h1>Share Your Workouts with your friends!</h1>
  <p>Find new ways to train by looking through our workouts</p>
  <p><a class="btn btn-warning btn-primary btn-lg" role="button" <%=link_to "Browse Workouts", workouts_path %></></a></p>
</div>
</div>
<footer>"Never train alone again" - Kyle Wilcox</footer>