<div class="container">
<div class="jumbotron">
  <h1>Share Your Workouts with your friends!</h1>
  <p>Find new ways to train by looking through our workouts</p>
  <p><a class="btn btn-warning btn-primary btn-lg" role="button" <%=link_to "Browse Workouts", workouts_path %></></a></p>
</div>
</div>
<footer>"This is where my quote should go" - Kyle Wilcox</footer>