<style type="text/css">

.moveLeft {
	margin-left: 200px;
	margin-right: auto;
}

</style>

<div class ="container moveLeft">
	<div class="col-md-8">
	<h1>About Us:</h1>
	<p>Here at (Insert name When i think of it) our goal is to </p>
	</div>
</div>
