<style type="text/css">


.moveLeft {
	margin-left: 200px;
	margin-right: auto;
	color: white;
	font-family: 
}

p {
	font-size: 15px;
}

</style>

<div class ="container moveLeft">
	<div class="col-md-6">
	<h1>About Us:</h1>
	<p>Hi!
		My name is Kyle Wilcox, and I play on the Varsity Football team at the University Of Pennsylvania. In
		my time here at Penn, I have been asked numerous times to help give people workouts. The bad part about this is
		that if I give them a workout they most likely will end up losing it or forgetting what I told them would be good for them to try
		. This led me to the creation of (App Name), a place were you can follow all your friends workouts and even post your own to try and help out a friend. </br>
		My goal is to help spread fitness because I know it can be hard to start when you do not know what to do. (App Name) is here to help, and to make sure you never have to train alone again!
	</br>
	</br>
	</br>
		Sincerly,
	</br>
		Kyle
	 </p>
	</div>
</div>
