/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  background-image: url("tex2res4.png");
 	padding-top: 40px;
 	color: white;
 }

.navbar-nav > li > a {
	color: #999 !important;
}

.navbar-nav > li > .btn {
	margin-top: 7px;
}

/*.navbar-right > li > .btn {
	margin: 7px !important;
}*/

.right-btn{
  margin: 7px !important;
}

.btn-warning {
  background-color: #999 !important;
  border-color: #997 !important
}

.btn-warning:hover > li > a {
  color: gray;
}
.btn-warning > li > a{
	color: #E6E6E6;
}

.navbar-inverse {
  background-color: rgba(255,255,255,0.9) !important;
  border-bottom-color: gray !important;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  height: 45px !important;
  color: white !important;
  background-color: #A65353 !important;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: px;
  line-height: 20px;
  height: 50px;
  font-weight: bold;
}





